.headerContainer{
    width: 100%;
    height: 8vh;
    background-color: #362316;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    .logo, .profissional{
        color: #fff;
        margin: 10px;
    }
}